@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.hero-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}