.Account-container{
    width:100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.Page-title{
    width: 100%;
    margin: 20px 10px;
    margin-left: 40px;
    padding: 10px 40px;
    text-align: left;
    align-items: flex-start;
    font-style: italic;
    
}
.options-rows{
    display: flex;
    padding: 20px 50px;
   flex-direction: rows;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.option-items{
    width:200px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 20px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}
.option-items:hover{
    transform: translateY(-10px);
}
.option-image{
    width:180px;
    height: 220px;
}
.op-img{
    width: 100%;
    object-fit: cover ;
}
.o-title{
    font-size: 20px;
    font-weight: bold;
}