.s-container {
    width: 90%;
    margin: 20px 20px;
    padding: 20px 20px;
    margin-right: 30px;
    white-space: nowrap;
    padding: 20px 0;
    border:0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
 

  .items{
    overflow-x: auto;
  }
  .items::-webkit-scrollbar {
    display: none;
  }
  .heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  
  .item {
    display: inline-block;
    width: 200px;
    height: 300px;
    
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .item:hover {
    border: 1px solid black;
  }
  .item .img-cont{
    width: 198px;
    height: 220px;
    box-shadow: 1px 2px 4px 0px rgba(151, 151, 151, 0.75);
  }
  .item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  
  .item .title {
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
  }
  .item .author-name {
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
  }
  .item .price {
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
    color: red;
  }

  .arrow-container{
    width:100%;
  }
  
  .arrow {
    color: #000000;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    top:-11rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
  }
  
  .arrow:hover {
    background-color: #005f6a;
  }
  
  .arrow.left {
    left: -30px;
  }
  
  .arrow.right {
    top:-12.85rem;
    right: -100%;
  }

  @media screen and (max-width:450px) {
    .arrow{
      display: none;
    }
  }
  