@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    display: none;
    
  }
  .nav-border{
    width:100%;
    height: 2px;
    top:80px;
    background-color: black;
    position: absolute;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 700px;
    backdrop-filter: blur(12px);
  }
  
  button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
  }
  
  li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    font-weight: bold;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav_title{
    width:100%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    padding: 3px 5px;
    margin: 10px 0px;
    font-family: "Jost",sans-serif;
    cursor: pointer;
}

  @media screen and (max-width: 810px) {
    nav{
      display: block;
    }
    .nav-title{
      display: flex;
    }
  }