.Toggle-nav{
  display: none;
  position: absolute;
  background-color: white;
  width:80%;
  right: 0;
  top: 0;
  height: 100%;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(66, 66, 66, 0.75);
  -moz-box-shadow: -11px 0px 5px 0px rgba(58, 57, 57, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.75);
  
  z-index: 10;
  transition: .3s ease-in all;
}
.close{
  
  display: none;
  position: absolute;
  background-color: white;
  width:0%;
  right: -100%;
  top: 0;
  height: 0%;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(66, 66, 66, 0.75);
  -moz-box-shadow: -11px 0px 5px 0px rgba(58, 57, 57, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.75);
  transition: .2s ease-out all;
  
}
.close-icon{
  position: absolute;
  left:10px;
  font-size: 30px;
  top: 10px;
  margin: 10px 20px;
  cursor: pointer;
}
.t-nav-container{
  width: 100%;
  height: 100%;
  margin: 50% 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Line-sepreator{
  height: 2px;
  width: 100%;
  margin:1px 0px;
}
.t-nav-listItems{
  padding: 3px 10px;
  margin: 40px 0px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.t-listItem{
  margin: 30px 0px;
  cursor: pointer;
}
.t-nav-buttons{
  position: absolute;
  margin: 10px 10px;
  bottom: 160px;
  display: flex;
  justify-content: flex-end;
}
.t-user_name{
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}
.t-but{
  margin:0px 10px;
  padding:8px 20px;
  border:2px solid black;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s all ease-in;
}
.t-but:hover{
  background-color: black;
  color: white;
  transition: 0.2s all ease-in-out;
}
.t-foot{
  position: absolute;
  bottom: 50px;
}
.tf-title{
  font-weight: bold;
    font-family: "Jost",sans-serif;
    letter-spacing: 3px;
    padding: 10px 0px;
    cursor: pointer;
}
@media screen and (max-height:720px) {
  .t-nav-container{
    margin: 10% 0px;
  }
}
@media screen and (max-width:850px) {
  .Toggle-nav{
    display: block;
  }
  
}
