.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition-timing-function: ease-in-out !important;
  transition-duration: 1s !important;
}

.carousel-btn {
  background-color: #ffffff;
  opacity: 0.1;
  border: 2px solid #000000;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.carousel-btn:hover {
  background-color: #000000;
  opacity: 0.5;
  color: #ffffff;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.5%;
  opacity: 0.3;
}

.carousel-dot {
  border: none;
  background-color: #ffffff;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #000000;
}