@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.header-container {
    padding: 10px 30px;
    margin: 10px 2px;
    
    justify-content: space-between;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    height: 60px;
=======
    height: 50px;
>>>>>>> a7c651ab8420063e8b4f0828e019b078126c3aec
}

.Title {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin: 0px 20px;
}

.logo_image {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.listwrapper {
    padding: 0px 10px;
}

.navList {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.listItem {
    margin: 0px 40px;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    position: relative;

}

.listItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.listItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.header-buttons {
    margin: 0px 10px;
    display: flex;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}

.but {
    margin: 0px 10px;
    padding: 5px 16px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in;
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
}

.but:hover {
    background-color: black;
    color: white;
    transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 1281px) {
    .listItem {
        margin: 0px 20px;
    }
}

@media screen and (max-width:1094px) {
    .Title {
        font-size: 22px;
        margin: 0px 7px;
    }

    .listItem {
        margin: 0px 15px;
        font-weight: 600;
    }

    .but {
        margin: 0px 5px;
        padding: 5px 10px;
        font-size: 15px;

    }
}
.login-avatar{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 20px;
}
.avatar-img{
    width:70px;
    height:70px;
    border-radius: 50%;
    transform: translateY(10px);
}
.a-img{
    width: 100%;
    object-fit: cover;
}
.user_name{
    font-size: 15px;
}
.a-dropdown{
    position: relative;
    right: 40%;
}

@media screen and (max-width:1025px) {
    .Title {
        display: flex;
        align-items: center;
        letter-spacing: 3px;
        font-weight: bold;
        font-family: 'Jost', sans-serif;
        font-size: 25px;
        margin: 0px 10px;
    }

    .logo_image {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .listwrapper {
        padding: 0px 2px;
        margin-left: 10px;
    }

    .navList {
        display: flex;
        font-family: 'Poppins', sans-serif;
    }

    .listItem {
        margin: 0px 20px;
        font-weight: 800;
        cursor: pointer;
        display: inline-block;
        position: relative;

    }

    .listItem::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .listItem:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }


    .header-buttons {
        margin: 0px 0px;

        display: flex;
    }

    .but {
        margin: 0px 10px;
        padding: 5px 15px;
        border: 2px solid black;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        transition: 0.2s all ease-in;
    }
}

@media screen and (max-width:1010px) {
    .Title {
        font-size: 18px;
        margin: 0px 5px;
    }

    .listItem {
        margin: 0px 10px;
        font-weight: 500;
    }

    .but {
        margin: 0px 5px;
        padding: 5px 10px;
        font-size: 14px;

    }
}

@media screen and (max-width: 850px) {
    .header-container {
        display: none;
    }
}