@import "rsuite/dist/rsuite.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 5px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
}
body::-webkit-scrollbar{
  width: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link{
  text-decoration: none;
  color: none;
}
a:hover{
  text-decoration: none;
  color: black;
}
