.nav_div{
    display: none;
    justify-content: center;
    align-items: center;
}
.nav_container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-title{
    width: 100%;
    padding: 3px 20px;
    display: flex;
    
}
.button-icon{
    margin:5px 30px;
    width:100%;
    height: 100%;
    display: flex;
    font-size: 40px;
    cursor: pointer;
    justify-content: flex-end;
}
.nav-heading{
    
    margin:2px 20px;
    display: flex;
    display: 100%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    font-family: "Jost",sans-serif;
    letter-spacing: 3px;
}
@media screen and (max-width: 820px) {
    .nav_div{
      display: block;
    }
  }